* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}


body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

body::-webkit-scrollbar {
    display: none;
}

/* -------------- links --------*/

a {
    text-decoration: none;
    color: #FF6100;
}

a:hover {
    color: #9fb5cc;
}

/* ------------ header ------------*/

header {
    background-color: rgba(255, 255, 255, 0.75);
    color: #FF6100;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 16px;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
}

header h1 {
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.menu {
    display: flex;
}

.menu button {
    display: none;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-list li {
    display: inline-block;
    margin-left: 32px;
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-list li.active,
.menu-list li:hover {
    color: #9fb5cc;
}

/*  -----   sticky nav ---- */
/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
  }
   
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }


/* ---------- main -------------*/

.main {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 80px 0px ;
    flex-direction: row-reverse;
}

.right-main img {
    width: 100%;
}

.right-main {
    max-width: 50%;
}

.left-main {
    width: 50%;
    padding: 28px 64px;
}



.title {
    color: #FF6100;
    font-size: 3.2em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.msg {
    color: #9fb5cc;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 48px;
}

button.cta {
    border: none;
    outline: none;
    background-color: #FF6100;
    color: #fff;
    padding: 18px 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform: uppercase;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1),
    0 15px 12px rgba(0, 0, 0, 0.08);
    cursor: pointer;
    transition: opacity 0.9;
}

button.cta:hover {
    opacity: 0.9;
}


/* ------ product ----------*/

.product {
    background: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 90px 10px;
    text-align: center;
    color: #9fb5cc;

}

.card img{
    background: #fff;
    width: auto;
    height: auto;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    max-width: 100%;
}

/*--------- about ----------*/

.about {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 90px 0px;
}

.description > p{
    padding: 10px 10px 15px 10px;
}

.left-about img {
    width: 100%;
}

.left-about {
    max-width: 50%;
}

.right-about {
    width: 50%;
    padding: 14px 64px;
}


.title-about {
    color: #FF6100;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 24px;
}

.msg-about {
    color: #9fb5cc;
    font-size: 1em;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 24px;
}

/*---------- contact -----------*/

.contact {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 90px 0px 60px 0px;
}

.title-contact {
    color: #FF6100;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    letter-spacing: 2px;
}

.left-contact {
    width: 50%;
    padding: 28px 64px;
}

.right-contact {
    width: 50%;
}

/*------- footer --------*/

footer {
    background-color: #FF6100;
    color: #fff;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 16px;
    position: relative;
}

footer h1 {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
}




/*  -----    CONTACT FORM      -----  */
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
    width: 100%;
    padding: 6px;
    border: 1px solid #FF6100;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #FF6100;
    color: white;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  
  
  /* Floating column for inputs: 75% width */
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

/*  -----    RESPONSIVENESS    -----  */

@media (max-width:480px) {

    .main {
        padding: 80px 0px 0px 0px;
        flex-direction: column-reverse;
    }

    .right-main img {
        width: 100%;
    }
    
    .right-main {
        max-width: 100%;
    }


    .left-main {
        padding: 32px 32px 125px;
    }

    .title {
        color: #FF6100;
        font-size: 3.2em;
        width: 100%;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 0;
    }
    
    .msg {
        color: #9fb5cc;
        font-size: 1.1em;
        letter-spacing: 0.7px;
        line-height: 28px;
        margin-bottom: 0;
        padding-top: 32px;
    }

    .left-main button.cta {
        display: none;
    }

    header,
    footer {
        padding-left: 32px;
        padding-right: 32px;
    }

    h1 {
        color: #FF6100!important;
    }

    footer h1 {
        color: #fff!important;
    }

    a {
        text-decoration: none;
        color: #fff;
        
    }
    
    a:hover {
        color: #9fb5cc;
    }

    .product,
    .about {
        flex-direction: column;
    }


    .left-main,
    .card,
    .contact {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .left-main,
    .card {
        font-size: 0.8em;
    }

    .left-main,
    .card * {
        text-align: center;
    }

    .product {
        gap: 40px;
        padding: 80px 0;
        text-align: center;
        color: #9fb5cc;
        
    }

    .card {
        padding-bottom: 42px;
    }

    .card img {
        width: 100%;
    }

    .description > p {
        padding: 16px 32px;
    }

    .about,
    .contact {
        padding: 80px 0;
    }

    .left-about img {
        width: 100%;
    }

    .left-about {
        padding: 0;
        max-width: 100%;
    }

    .right-about {
        width: 100%;
        padding: 32px 32px;
    }

    .title-about {
        color: #FF6100;
        font-size: 1.6em;
        width: 100%;
        font-weight: bold;
        letter-spacing: 2px;
    }

    .msg-about {
        color: #9fb5cc;
        font-size: 1em;
        letter-spacing: 0.7px;
        line-height: 28px;
        margin-bottom: 0;
    }


    .left-contact {
        width: 100%;
        padding: 32px 32px;
    }

    .title-contact {
        margin-bottom: 24px;
    }

    .right-contact {
        width: 85%;
    }

    


    /* Nav Menu Responsiveness */

    .menu button {
        display: block;
        width: 40px;
        height: 40px;
        border: none;
        background: transparent;
        color: #FF6100;
        outline: none;
        font-size: 1.7em;
        cursor: pointer;
        z-index: 2;
    }

    .menu i.fa-times,
    .menu.opened i.fa-bars {
        display: none;
    }

    .menu.opened i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    @keyframes enter {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .menu-list {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: hsla(23, 100%, 50%, 0.6);
        backdrop-filter: blur(5px);
        color: #fff;
        padding: 40px;
        flex-direction: column;
        align-items: flex-end;
        padding-top: 64px;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        font-size: 1.7em;
        margin: 32px 0px;
    }

    .menu.opened .menu-list {
        transform: translateX(0);
    }

    .menu.opened button {
        color: #fff;
    }
}
